## **Introduction to Python Programming**

In [ ]:
# This is a comment line
# this is another comment line
# this is the last comment line

### Python Inputs and outputs

In [2]:
num1 = input("Please enter the first number: ")
num2 = input("Please enter the second number: ")
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
print ("End of the program....")

Please enter the first number:  100
Please enter the second number:  400

100 <class 'str'> 400 <class 'str'>
So the result is 100400
End of the program....

In [4]:
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
print (num1, type(num1), num2, type(num2))
result = num1 + num2
print ("So the result is", result)
print ("End of the program....")

Please enter the first number:  100
Please enter the second number:  400

100 <class 'int'> 400 <class 'int'>
So the result is 500
End of the program....

In [21]:
print ("So", num1, "+", num2, "=", result)
print ("So " + str(num1) + " + " + str(num2) + " = " + str(result))
print ("So {} + {} = {}".format(num1, num2, result))   # {} is variable place-holder
print ("So {0} + {1} = {2}".format(num1, num2, result)) # {} numbered place-holder
print ("So {2} + {1} = {0}".format(result, num2, num1))
print ("So {fnum} + {snum} = {tot}".format(fnum=num1, snum=num2, tot=result)) # labeled placeholder
print ("So %d + %d = %d"%(num1, num2, result))
print ("So %d + %f = %d"%(num1, num2, result))
print ("So %d + %8.2f = %d"%(num1, num2, result))
print (f"So {num1} + {num2} = {result}")  # f stands for smart formatting available from Python version 2.7

So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400 = 500
So 100 + 400.000000 = 500
So 100 +   400.00 = 500
So 100 + 400 = 500

### Python Operators

In [23]:
# arithmetic operators
print (100 + 40)   # addition
print (100 - 40)   # subtraction
print (100 * 40)   # multiplication
print (100 / 40)   # float division
print (100 // 40)  # integer division
print (100 % 40)   # modulus, remainder of the division
print (100 ** 4)   # exponentiation, to the power of

140
60
4000
2.5
2
20
100000000

In [25]:
# relational operators
print (100 > 40, 100 >= 40, 40 < 100, 40 <= 100, 40 != 100, 100 == 100)

True True True True True True

In [27]:
# logical operator
print (False or False, False or True, True or False, True or True)
print (False and False, False and True, True and False, True and True)
print (not True, not False)

False True True True
False False False True
False True

### Conditional Statements

In [34]:
# find out the maximum number out of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2):
    if (num1 > num3):
        print ("So the First number is the maximum number...")
        print (f"So the maximum number is {num1}...")
    else:
        print ("So the Third number is the maximum number...")
        print (f"So the maximum number is {num3}...")
elif (num2 > num3):
    print ("So the Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("So the Third number if the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  100
Please enter the second number:  200
Please enter the third number:  300

So the Third number if the maximum number...
So the maximum number is 300...
End of the program...

In [37]:
# find out the maximum number out of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2 and num1 > num3):
    print ("So the First number is the maximum number...")
    print (f"So the maximum number is {num1}...")
elif (num2 > num3):
    print ("So the Second number is the maximum number...")
    print (f"So the maximum number is {num2}...")
else:
    print ("So the Third number if the maximum number...")
    print (f"So the maximum number is {num3}...")
print ("End of the program...")

Please enter the first number:  200
Please enter the second number:  100
Please enter the third number:  300

So the Third number if the maximum number...
So the maximum number is 300...
End of the program...

In [ ]:
# find out the second maximum number out of three user given numbers
read num1, num2, num3
Section-1
now compare num1 and num2 and put the maximum of them in max1 and other in max2
Section-2
Now we shall deal with max1, max2 and num3

                            max1          max2
                            500           200
             num3 =>   800          400          100
   Second maximum =>   500          400          200
                       max1         num3         max2

In [40]:
# find out the second maximum number out of three user given numbers
num1 = int(input("Please enter the first number: "))
num2 = int(input("Please enter the second number: "))
num3 = int(input("Please enter the third number: "))
if (num1 > num2): max1 = num1; max2 = num2
else: max1 = num2; max2 = num1
if (num3 > max1):
    print (f"So the second maximum number is {max1}...")
elif (num3 > max2):
    print (f"So the second maximum number is {num3}...")
else:
    print (f"So the second maximum number is {max2}...")
print ("End of the program...")

Please enter the first number:  300
Please enter the second number:  100
Please enter the third number:  200

So the second maximum number is 200...
End of the program...

### Loop Construct

In [42]:
for i in range(8):
    print (i, "Hello")

0 Hello
1 Hello
2 Hello
3 Hello
4 Hello
5 Hello
6 Hello
7 Hello

In [88]:
print ("Welcome", "Everyone")
print ("To All")

Welcome Everyone
To All

In [49]:
help(print)   # ... is called ellipsis operator

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [53]:
print ("Welcome", "Everyone")
print ("To All")
print ("Welcome", "Everyone", sep = " - ", end = "; ")
print ("To All")
print ("Welcome", "Everyone", sep = ";;;")
print ("To All")

Welcome Everyone
To All
Welcome - Everyone; To All
Welcome;;;Everyone
To All

In [57]:
for i in range(8):
    print (i, "Hello", end = ", ")
print ()
for i in range(0, 8):
    print (i, "Welcome", end = ", ")
print ()
for i in range(0, 8, 1):
    print (i, "Bye", end = ", ")

0 Hello, 1 Hello, 2 Hello, 3 Hello, 4 Hello, 5 Hello, 6 Hello, 7 Hello,
0 Welcome, 1 Welcome, 2 Welcome, 3 Welcome, 4 Welcome, 5 Welcome, 6 Welcome, 7 Welcome,
0 Bye, 1 Bye, 2 Bye, 3 Bye, 4 Bye, 5 Bye, 6 Bye, 7 Bye,

In [60]:
for i in range(0, 8, 2):
    print (i, "Bye", end = ", ")
print()
for i in range(1, 8, 2):
    print (i, "Bye", end = ", ")

0 Bye, 2 Bye, 4 Bye, 6 Bye,
1 Bye, 3 Bye, 5 Bye, 7 Bye,

In [66]:
print ("Hello " * 5)
print ("Good Day " * 4)
print ("AEC " * 10)

Hello Hello Hello Hello Hello
Good Day Good Day Good Day Good Day
AEC AEC AEC AEC AEC AEC AEC AEC AEC AEC

In [102]:
# nested Looping
print ("Visit Doctor...")   # 1 time
medicount = 0
for day in range(1, 6):
    print ("Good Morning...")   # 5 times
    for medi in range(1, 4):
        print (f"Day Number - {day} and Medicine Number - {medi}...")   # 15 times
        medicount = medicount + 1
    print ("Good Night...")   # 5 times
    print ("-----------------------------------------------------------")   # 5 times
print ("Thanks to Doctor...")   # 1 time
print (f"Number of medicines consumed is {medicount}..." )

Visit Doctor...
Good Morning...
Day Number - 1 and Medicine Number - 1...
Day Number - 1 and Medicine Number - 2...
Day Number - 1 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 2 and Medicine Number - 1...
Day Number - 2 and Medicine Number - 2...
Day Number - 2 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 3 and Medicine Number - 1...
Day Number - 3 and Medicine Number - 2...
Day Number - 3 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 4 and Medicine Number - 1...
Day Number - 4 and Medicine Number - 2...
Day Number - 4 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 5 and Medicine Number - 1...
Day Number - 5 and Medicine Number - 2...
Day Number - 5 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Thanks to Doctor...
Number of medicines consumed is 15...

In [ ]:
Pattern - 1
-----------
n = 6 (User Input)
               i   .   *
             -------------
.....*         1   5   1
....***        2   4   3  . => (n - i)
...*****       3   3   5
..*******      4   2   7  * => (2 * i - 1)
.*********     5   1   9
***********    6   0  11
             -------------
             Tracing Table

In [73]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (n - i) + "*" * (2 * i - 1))
print ("End of the program...")

Please enter the number of layers:  6

.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [ ]:
Pattern - 2
-----------
n = 6 (User Input)
               i   .   *
             -------------
***********    1   0  11
.*********     2   1   9  . => (i - 1)
..*******      3   2   7
...*****       4   3   5  * => (2 * (n - i) + 1)
....***        5   4   3
.....*         6   5   1
             -------------
             Tracing Table

In [80]:
n = int(input("Please enter the number of layers: "))
for i in range(1, n + 1):
    print ("." * (i - 1) + "*" * (2 * (n - i) + 1))
print ("End of the program...")

Please enter the number of layers:  8

***************
.*************
..***********
...*********
....*******
.....*****
......***
.......*
End of the program...

In [ ]:
Pattern - 3
-----------
n = 11 (Only ODD User Input)  m = (n + 1) // 2 = 6
               i   .   *
             -------------
.....*         1   5   1       (i, n, m)
....***        2   4   3  . => (m - i)
...*****       3   3   5
..*******      4   2   7  * => (2 * i - 1)
.*********     5   1   9
***********  __6___0__11__
.*********     7   1   9
..*******      8   2   7  . => (i - m)
...*****       9   3   5
....***       10   4   3  * => (2 * (n - i) + 1)
.....*        11   5   1
             -------------
             Tracing Table

In [83]:
n = int(input("Please enter ODD number of layers: "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (i - m); s = (2 * (n - i) + 1)
    else: b = (m - i); s = (2 * i - 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter ODD number of layers:  11

.....*
....***
...*****
..*******
.*********
***********
.*********
..*******
...*****
....***
.....*
End of the program...

In [ ]:
Pattern - 4
-----------
n = 11 (Only ODD User Input)  m = (n + 1) // 2 = 6
               i   .   *
             -------------
***********    1   0  11       (i, n, m)
.*********     2   1   9  . => (i - 1)
..*******      3   2   7
...*****       4   3   5  * => (2 * (m - i) + 1)
....***        5   4   3
.....*       __6___5___1__
....***        7   4   3
...*****       8   3   5  . => (n - i)
..*******      9   2   7
.*********    10   1   9  * => (2 * (i - m) + 1)
***********   11   0  11
             -------------
             Tracing Table

In [87]:
n = int(input("Please enter ODD number of layers: "))
m = (n + 1) // 2
for i in range(1, n + 1):
    if (i > m): b = (n - i); s = (2 * (i - m) + 1)
    else: b = (i - 1); s = (2 * (m - i) + 1)
    print ("." * b + "*" * s)
print ("End of the program...")

Please enter ODD number of layers:  11

***********
.*********
..*******
...*****
....***
.....*
....***
...*****
..*******
.*********
***********
End of the program...

In [89]:
for i in range(8):
    print (f"Executing for i = {i}")
else:
    print ("ELSE Block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing for i = 6
Executing for i = 7
ELSE Block is executing...
Had a smooth execution...
End of the program...

In [94]:
# break statement
for i in range(8):
    print (f"Executing for i = {i}")
    if (i == 5):
        print ("Executing BREAK statement...")
        break
else:
    print ("ELSE Block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Executing for i = 3
Executing for i = 4
Executing for i = 5
Executing BREAK statement...
End of the program...

In [96]:
# checking whether one user given number is PRIME or not
num = int(input("Please enter one integer number: "))
for i in range(2, num):
    if (num % i == 0):
        print (f"So {num} is NOT a PRIME Number...")
        break
else:
    print (f"So {num} is a PRIME Number...")
print ("End of the program...")

Please enter one integer number:  101

So 101 is a PRIME Number...
End of the program...

In [98]:
# check whether one user given number is EVEN or not
num = int(input("Please enter one integer number: "))
if (num % 2 == 1):
    pass   # pass is a statement to denote statement place holder
else:
    print (f"So {num} is an EVEN Number...")
print ("End of the program...")

Please enter one integer number:  12

So 12 is an EVEN Number...
End of the program...

In [100]:
# continue statement
for i in range(8):
    if (i == 3 or i == 5):
        print ("Continuing...")
        continue
    print (f"Executing for i = {i}")
else:
    print ("ELSE Block is executing...")
    print ("Had a smooth execution...")
print ("End of the program...")

Executing for i = 0
Executing for i = 1
Executing for i = 2
Continuing...
Executing for i = 4
Continuing...
Executing for i = 6
Executing for i = 7
ELSE Block is executing...
Had a smooth execution...
End of the program...

In [101]:
i = 1
while (i <= 6):
    print (f"Executing for i = {i}...")
    # i = i + 1
    i += 1
else:
    print ("Executing the ELSE Block...")
print ("End of the program...")

Executing for i = 1...
Executing for i = 2...
Executing for i = 3...
Executing for i = 4...
Executing for i = 5...
Executing for i = 6...
Executing the ELSE Block...
End of the program...

In [ ]:
# Home Work
Rewrite the medicine and doctor code using nested while-loop blocks

In [27]:
# nested Looping
print ("Visit Doctor...")   # 1 time
medicount = 0
day = 1
while (day <= 5):
    print ("Good Morning...")   # 5 times
    medi = 1
    while (medi <= 3):
        print (f"Day Number - {day} and Medicine Number - {medi}...")   # 15 times
        medicount = medicount + 1
        medi += 1
    print ("Good Night...")   # 5 times
    print ("-----------------------------------------------------------")   # 5 times
    day += 1
print ("Thanks to Doctor...")   # 1 time
print (f"Number of medicines consumed is {medicount}..." )

Visit Doctor...
Good Morning...
Day Number - 1 and Medicine Number - 1...
Day Number - 1 and Medicine Number - 2...
Day Number - 1 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 2 and Medicine Number - 1...
Day Number - 2 and Medicine Number - 2...
Day Number - 2 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 3 and Medicine Number - 1...
Day Number - 3 and Medicine Number - 2...
Day Number - 3 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 4 and Medicine Number - 1...
Day Number - 4 and Medicine Number - 2...
Day Number - 4 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Good Morning...
Day Number - 5 and Medicine Number - 1...
Day Number - 5 and Medicine Number - 2...
Day Number - 5 and Medicine Number - 3...
Good Night...
-----------------------------------------------------------
Thanks to Doctor...
Number of medicines consumed is 15...

### ASCII Codes (American Standard Code for Information Interchange)

In [ ]:
ASCII Code is 8-bit code, will have 2^8 = 256 combinations, values ranging from 0 to 255
ASCII Code can be divided in two categories:
    1. Normal ASCII Codes (0 to 127), printable characters
    2. Extended ASCII Codes (128 to 255), non-printable characters
ASCII Codes to remember -
A -> 65  a -> 97    0 -> 48    Esc -> 27
B -> 66  b -> 98    1 -> 49    Back Space -> 9
...      ...        ...        Tab -> 8
Z -> 90  z -> 122   9 -> 57    Space Bar or Blank Space -> 32
                               Enter -> 13

In [105]:
print (ord('A'), ord('Z'), ord('a'), ord('z'))
# print (ord('Asansol'))   - Error
print (chr(65), chr(90), chr(97), chr(122))

65 90 97 122
A Z a z

In [108]:
mychar = "A"
print (mychar, chr(ord(mychar) + 32))
mychar = "a"
print (mychar, chr(ord(mychar) - 32))

A a
a A

### Variable Types and IDs

In [3]:
var1 = 100
print (var1, type(var1), id(var1))
var1 = "AEC"
print (var1, type(var1), id(var1))
var1 = True
print (var1, type(var1), id(var1))
var1 = "A"
print (var1, type(var1), id(var1))
var1 = 100.45
print (var1, type(var1), id(var1))

100 <class 'int'> 2596114533712
AEC <class 'str'> 2596200145136
True <class 'bool'> 140722788124880
A <class 'str'> 2596122384624
100.45 <class 'float'> 2596196137520

In [5]:
var1 = 100
var2 = 100
var3 = var1
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print (var3, type(var3), id(var3))
var2 = 200
print ()
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print (var3, type(var3), id(var3))

100 <class 'int'> 2596114533712
100 <class 'int'> 2596114533712
100 <class 'int'> 2596114533712

100 <class 'int'> 2596114533712
200 <class 'int'> 2596114536912
100 <class 'int'> 2596114533712

In [15]:
var1 = 256
var2 = 256
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print ()
var1 = 257
var2 = 257
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))

256 <class 'int'> 2596114538704
256 <class 'int'> 2596114538704

257 <class 'int'> 2596200053232
257 <class 'int'> 2596200053168

In [16]:
var1 = -5
var2 = -5
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))
print ()
var1 = -6
var2 = -6
print (var1, type(var1), id(var1))
print (var2, type(var2), id(var2))

-5 <class 'int'> 2596114530352
-5 <class 'int'> 2596114530352

-6 <class 'int'> 2596200053232
-6 <class 'int'> 2596200050256

### Inbuilt Collections

In [18]:
var1 = [100, 34.5, "AEC", True, "Asansol"]  # list
print (var1, len(var1), type(var1), id(var1))
var1 = (100, 34.5, "AEC", True, "Asansol")  # tuple
print (var1, len(var1), type(var1), id(var1))
var1 = {"mango":200, "banana":300, "coconut":450}  # dictionary
print (var1, len(var1), type(var1), id(var1))
var1 = {100, "Atanu", "Developer", "Pune", "Atanu", "Developer", "Pune", 100, 100}  # set
print (var1, len(var1), type(var1), id(var1))
var1 = frozenset({100, "Atanu", "Developer", "Pune", "Atanu", "Developer", "Pune", 100, 100})  # frozen set
print (var1, len(var1), type(var1), id(var1))

[100, 34.5, 'AEC', True, 'Asansol'] 5 <class 'list'> 2596200884672
(100, 34.5, 'AEC', True, 'Asansol') 5 <class 'tuple'> 2596200816752
{'mango': 200, 'banana': 300, 'coconut': 450} 3 <class 'dict'> 2596200836928
{'Developer', 100, 'Pune', 'Atanu'} 4 <class 'set'> 2596199313280
frozenset({'Developer', 100, 'Pune', 'Atanu'}) 4 <class 'frozenset'> 2596199311936

In [19]:
# empty collections
var1 = []  # list
print (var1, len(var1), type(var1), id(var1))
var1 = ()  # tuple
print (var1, len(var1), type(var1), id(var1))
var1 = {}  # dictionary
print (var1, len(var1), type(var1), id(var1))
var1 = set()  # set
print (var1, len(var1), type(var1), id(var1))
var1 = frozenset()  # frozen set
print (var1, len(var1), type(var1), id(var1))

[] 0 <class 'list'> 2596200799936
() 0 <class 'tuple'> 2596114546800
{} 0 <class 'dict'> 2596220595328
set() 0 <class 'set'> 2596219891584
frozenset() 0 <class 'frozenset'> 2596199313504

In [23]:
var1 = (10)
print (var1, type(var1), id(var1))
var1 = (10,)   # singleton representation of a tuple
print (var1, len(var1), type(var1), id(var1))

10 <class 'int'> 2596114530832
(10,) 1 <class 'tuple'> 2596222080224

### Expression Evaluation

In [26]:
myexpr = input("Please enter your expression: ")
result = eval(myexpr)
print (f"Evaluated value of the expression {myexpr} is {result}...")

Please enter your expression:  100 + (2 * 3 + 500) * 10

Evaluated value of the expression 100 + (2 * 3 + 500) * 10 is 5160...

### Class Assignment

In [ ]:
Find the sum of the first n terms of the following series:
place No.  1   2   3   4   5    6   7   8   9   10   11  12 ...
   total = 1 + 2 + 3 + 4 + 10 + 5 + 6 + 7 + 8 + 26 + 9 + 10 + ...
Where the integer value of n will be given by the user.
If n = 4 then total = 1 + 2 + 3 + 4 = 10
If n = 5 then total = 1 + 2 + 3 + 4 + 10 = 20
if n = 10 then total = 1 + 2 + 3 + ... + 8 + 26 = 72
if n = 11 then total = 1 + 2 + 3 + ... + 8 + 26 + 9 = 81

Also using mental calculations find the 99th term of the series.

In [ ]:
# pseudocode
input n
fsum = tsum = 0
term = 1
for i = 1 to n
    if (i mod 5 = 0)
        fsum = fsum + tsum
        tsum = 0
    else
        fsum = fsum + term
        tsum = tsum + term
        term = term + 1
    end if
end for
print  fsum
end

In [35]:
n = int(input("Please enter the number of terms: "))
fsum = tsum = 0
term = 1
for i in range(1, n + 1):
    if (i % 5 == 0):
        fsum = fsum + tsum
        print (f"For i = {i}, adding tsum = {tsum}...")
        tsum = 0
    else:
        fsum = fsum + term
        print (f"For i = {i}, adding the term = {term}...")
        tsum = tsum + term
        term = term + 1
print (f"For for {n} number of terms total = {fsum}...")
print ("End of the program...")

Please enter the number of terms:  11

For i = 1, adding the term = 1...
For i = 2, adding the term = 2...
For i = 3, adding the term = 3...
For i = 4, adding the term = 4...
For i = 5, adding tsum = 10...
For i = 6, adding the term = 5...
For i = 7, adding the term = 6...
For i = 8, adding the term = 7...
For i = 9, adding the term = 8...
For i = 10, adding tsum = 26...
For i = 11, adding the term = 9...
For for 11 number of terms total = 81...
End of the program...

### User Defined Function (UDF)

In [37]:
def funct1():
    print ("Hello " * 5)
    
funct1()
funct1()
funct1()

Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello
Hello Hello Hello Hello Hello

In [44]:
def funct2(msg, times):    # msg and times are positional parameters
    print (msg * times)
    
funct2("Welcome ", 4)   # "Welcome " and 4 are positional arguments
funct2("Good Bye !!! ", 3)
funct2("Good Day ", 6)
print (type(funct2))
print (funct2("Welcome", 4))

Welcome Welcome Welcome Welcome
Good Bye !!! Good Bye !!! Good Bye !!!
Good Day Good Day Good Day Good Day Good Day Good Day
<class 'function'>
WelcomeWelcomeWelcomeWelcome
None

In [42]:
def funct3(msg, times):
    return msg * times
result = funct3("Welcome ", 4)
print (result)
result = funct3("Good Bye !!! ", 3)
print (result)
print (funct3("Good Day ", 6))
print (type(funct3("Good Day ", 6)))

Welcome Welcome Welcome Welcome
Good Bye !!! Good Bye !!! Good Bye !!!
Good Day Good Day Good Day Good Day Good Day Good Day
<class 'str'>

In [55]:
# function with parameters with default arguments
def funct4(par1 = 1111, par2 = 2222, par3 = 3333):
    print (f"par1 = {par1}, par2 = {par2}, par3 = {par3}...")
    
funct4(100, 200, 300)
funct4(100, 200)
funct4(100)
funct4()
funct4(par1 = 100, par3 = 300)
funct4(par3 = 300, par1 = 100)
funct4(par2 = 200)

par1 = 100, par2 = 200, par3 = 300...
par1 = 100, par2 = 200, par3 = 3333...
par1 = 100, par2 = 2222, par3 = 3333...
par1 = 1111, par2 = 2222, par3 = 3333...
par1 = 100, par2 = 2222, par3 = 300...
par1 = 100, par2 = 2222, par3 = 300...
par1 = 1111, par2 = 200, par3 = 3333...

In [61]:
def funct5(num1, num2 = None):
    # if (num2 == None):
    if (num2 is None):
        return num1 + num1
    else:
        return num1 + num2
n1 = 100
result = funct5(n1)
print (f"So n1 = {n1} result = {result}...")
print ()
n1 = 200
n2 = 300
result = funct5(n1, n2)
print (f"So for n1 = {n1}, n2 = {n2}, result = {result}...")

So n1 = 100 result = 200...

So for n1 = 200, n2 = 300, result = 500...

In [60]:
def funct6(num1, num2):
    total = num1 + num2
    difference = num1 - num2
    product = num1 * num2
    quotient = num1 / num2
    return total, difference, product, quotient

tot, diff, prod, quot = funct6(100, 40)
print (f"Total = {tot}, Difference = {diff}, Product = {prod} and Quotient = {quot}...")
res = funct6(100, 40)
print (res, len(res), type(res), id(res))
print (f"total = {res[0]}, Difference = {res[1]}, Product = {res[2]} and Quotient = {res[3]}...")

Total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...
(140, 60, 4000, 2.5) 4 <class 'tuple'> 2596239390608
total = 140, Difference = 60, Product = 4000 and Quotient = 2.5...

In [63]:
# function with variable number of arguments
def funct7(*arg):  # here *arg means arg is of tuple type
    print (arg, len(arg), type(arg), id(arg))
    
funct7("Amitava", "Developer")
funct7("Amitava", "Developer", "Pune")
funct7("Amitava", "Developer", "Pune", "male")
funct7("Amitava", "Developer", "Pune", "male", 65000, True)

('Amitava', 'Developer') 2 <class 'tuple'> 2596239581504
('Amitava', 'Developer', 'Pune') 3 <class 'tuple'> 2596239943232
('Amitava', 'Developer', 'Pune', 'male') 4 <class 'tuple'> 2596239563792
('Amitava', 'Developer', 'Pune', 'male', 65000, True) 6 <class 'tuple'> 2596239103392

In [65]:
def funct8(**kwarg):   # here **kwarg means kwarg is of key-word argument and of dictionary type
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))

funct8(name="Amitava", job="Developer")
funct8(name="Amitava", job="Developer", location="Pune")
funct8(name="Amitava", job="Developer", location="Pune", gender="male")
funct8(name="Amitava", job="Developer", location="Pune", gender="male", salary=65000, married=True)

{'name': 'Amitava', 'job': 'Developer'} 2 <class 'dict'> 2596239857024
{'name': 'Amitava', 'job': 'Developer', 'location': 'Pune'} 3 <class 'dict'> 2596238496832
{'name': 'Amitava', 'job': 'Developer', 'location': 'Pune', 'gender': 'male'} 4 <class 'dict'> 2596239856704
{'name': 'Amitava', 'job': 'Developer', 'location': 'Pune', 'gender': 'male', 'salary': 65000, 'married': True} 6 <class 'dict'> 2596239857024

In [66]:
def funct9(*arg, **kwarg):
    print (arg, len(arg), type(arg), id(arg))
    print (kwarg, len(kwarg), type(kwarg), id(kwarg))

funct9("Amitava", "Developer", "Pune", gender="male", salary=65000, married=True)
print ()
funct9("Amitava", "Developer", "Pune")
print ()
funct9(gender="male", salary=65000, married=True)

('Amitava', 'Developer', 'Pune') 3 <class 'tuple'> 2596240003584
{'gender': 'male', 'salary': 65000, 'married': True} 3 <class 'dict'> 2596240279552

('Amitava', 'Developer', 'Pune') 3 <class 'tuple'> 2596239574592
{} 0 <class 'dict'> 2596240283456

() 0 <class 'tuple'> 2596114546800
{'gender': 'male', 'salary': 65000, 'married': True} 3 <class 'dict'> 2596240317504

In [70]:
# non-recursive factorial calculation function
def factorial_cal_nr(num):
    if (num == 0 or num == 1):
        return 1
    fact = num
    for i in range(2, num):
        print (f"i = {i}...")
        fact *= i
    return fact

print (factorial_cal_nr(5))
print (factorial_cal_nr(6))

i = 2...
i = 3...
i = 4...
120
i = 2...
i = 3...
i = 4...
i = 5...
720

In [71]:
# recursive factorial calculation function
def factorial_cal_r(num):
    if (num == 0 or num == 1):    # base case: for certain inputs, outputs are pre-known
        return 1                  # where the recursion terminates
    return num * factorial_cal_r(num - 1)   # recursive case: function will call itself
                                            # n! = n * (n - 1)!
print (factorial_cal_r(5))
print (factorial_cal_r(6))

120
720

In [ ]:
5! = 5 * 4!
         4 * 3!
             3 * 2!
                 2 * 1!
                     1
                 2
             6
         24
     120

In [72]:
def funct10():
    i = 100
    print (i, id(i))
    
i = 10
print (i, id(i))
funct10()
print (i, id(i))

10 2596114530832
100 2596114533712
10 2596114530832

In [73]:
def funct10():
    global i
    print (i, id(i))
    i = 100
    print (i, id(i))
    
i = 10
print (i, id(i))
funct10()
print (i, id(i))

10 2596114530832
10 2596114530832
100 2596114533712
100 2596114533712

In [75]:
# calculator program
def addition(n1, n2):
    print ("Performing addition operation...")
    return n1 + n2
def subtraction(n1, n2):
    print ("Performing subtraction operation...")
    return n1 - n2
def multiplication(n1, n2):
    print ("Performing multiplication operation...")
    return n1 * n2
def division(n1, n2):
    print ("Performing division operation...")
    return n1 / n2
def menu():
    choice = 0
    while (choice < 1 or choice > 5):
        print ("MAIN MENU...")
        print ("------------")
        print ("1> Addition operation")
        print ("2> Subtraction operation")
        print ("3> Multiplication operation")
        print ("4> Division operation")
        print ("5> Exit operation")
        choice = int(input("Please enter your choice: "))
    return choice
num1 = int(input("Please enter the first integer: "))
num2 = int(input("Please enter the second integer: "))
ch = menu()
if (ch == 1):
    result = addition(num1, num2)
    print (f"So the result is {result}...")
elif (ch == 2):
    result = subtraction(num1, num2)
    print (f"So the result is {result}...")
elif (ch == 3):
    result = multiplication(num1, num2)
    print (f"So the result is {result}...")
elif (ch == 4):
    result = division(num1, num2)
    print (f"So the result is {result}...")
elif (ch == 5):
    print ("Exiting...")
    print ("End of the program...")
else:
    print ("Invalid choice number...")

Please enter the first integer:  100
Please enter the second integer:  20

MAIN MENU...
------------
1> Addition operation
2> Subtraction operation
3> Multiplication operation
4> Division operation
5> Exit operation

Please enter your choice:  2

Performing subtraction operation...
So the result is 80...